.title-label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-pref-width: 350px;
}

.action-button {
    -fx-background-color: #007ACC;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
}

.action-button:hover {
    -fx-background-color: #005ea2;
}

.bottom-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 10 20;
}

.bottom-button:hover {
    -fx-background-color: #2c80b4;
}


.root-background {
    -fx-background-image: url("bg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.dp-table-grid {
    -fx-padding: 30;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: center;
}

.dp-cell {
    -fx-font-family: "Verdana";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-min-width: 60;
    -fx-min-height: 30;
    -fx-alignment: center;
}

.dp-header-cell {
    -fx-font-weight: bold;
}


